#!/sbin/runscript
# Copyright 1999-2002 Gentoo Technologies, Inc.
# Distributed under the terms of the GNU General Public License, v2 or later
#
# Startup script to run the PCX Firewalls generated scripts.
#
# chkconfig: 2345 11 92
#
# description: Automates a packet filtering firewall with iptables.

LOCATION="/etc/pcx-firewall"
servicename="pcxfirewall"

opts="${opts} clear"

depend () 
{
	need net
}

checkconfig () 
{
	# make sure we have the necessary scripts
	if [ ! -e $LOCATION/firewall ]; then
	    eerror "Check for firewall script: \$LOCATION/firewall"
	    return 1	    
	fi
	return 0
}

start () 
{
	ebegin "Starting ${servicename}"
	$LOCATION/firewall start
	eend $?
}

stop () 
{
	ebegin "Stopping ${servicename}"
	$LOCATION/firewall stop
	eend $?
}

status () 
{
	echo $"Table: filter"
	iptables -L -v -n
	echo $"Table: nat"
	iptables -t nat -L -v -n
	echo $"Table: mangle"
	iptables -t mangle -L -v -n
}

clear () 
{
	ebegin "Clear ${servicename}"
	
	# Check for the new Mangle tables
	found=`iptables -L INPUT -n -t mangle 2>&1 | /bin/grep "iptables: Table does not exist"`
	if [ -z "$found" ] 
	    then
		MANGLE_INPUT=1
	else
		MANGLE_INPUT=0
	fi

	found=`iptables -L FORWARD -n -t mangle 2>&1 | /bin/grep "iptables: Table does not exist"`
	if [ -z "$found" ] 
	    then
		MANGLE_FORWARD=1
	    else
		MANGLE_FORWARD=0
	fi

	found=`iptables -L POSTROUTING -n -t mangle 2>&1 | /bin/grep "iptables: Table does not exist"`
	if [ -z "$found" ] 
	    then
		MANGLE_POSTROUTING=1
	else
	    MANGLE_POSTROUTING=0
	fi

	echo -n $"Changing target policies to ACCEPT: "
	iptables -P INPUT ACCEPT && \
	    iptables -P FORWARD ACCEPT && \
	    iptables -P OUTPUT ACCEPT && \
	    iptables -t nat -P PREROUTING ACCEPT && \
	    iptables -t nat -P POSTROUTING ACCEPT && \
	    iptables -t nat -P OUTPUT ACCEPT && \
	    iptables -t mangle -P PREROUTING ACCEPT && \
	    iptables -t mangle -P OUTPUT ACCEPT && \
      (if [ $MANGLE_INPUT = 1 ]; then iptables -t mangle -P INPUT ACCEPT; fi) && \
      (if [ $MANGLE_FORWARD = 1 ]; then iptables -t mangle -P FORWARD ACCEPT; fi) && \
      (if [ $MANGLE_POSTROUTING = 1 ]; then iptables -t mangle -P POSTROUTING ACCEPT; fi) && \
	    echo "Changing target policies to ACCEPT" || \
	    eerror "Changing target policies to ACCEPT"
	    echo
        iptables -F && \
                iptables -t nat -F && \
                iptables -t mangle -F && \
                echo "Flushing all chains:" || \
                eerror "Flushing all chains:"
        iptables -X && \
                iptables -t nat -X && \
                iptables -t mangle -X && \
                echo "Removing user defined chains:" || \
                eerror "Removing user defined chains:"
}
