[Unit]
Description=AutoFS Service
After=network.target

[Service]
Type=forking
EnvironmentFile=/etc/conf.d/autofs
ExecStart=/usr/sbin/automount

[Install]
WantedBy=multi-user.target

