#!/sbin/runscript
# Copyright 1999-2002 Gentoo Technologies, Inc.
# Distributed under the terms of the GNU General Public License, v2 or later
# description: GNU Zebra routing manager

DAEMON=/usr/sbin/zebra

depend() {
    need net
}

start() {
    ebegin "Starting zebra"
    start-stop-daemon --start --quiet --exec ${DAEMON} -- -d
    eend $?
}

stop() {
    ebegin "Stopping zebra"
    start-stop-daemon --stop --quiet --exec ${DAEMON}
    eend $?
}
