[Desktop Entry]
Encoding=UTF-8
Name=beryl
Comment=Beryl
Exec=beryl
TryExec=beryl
# no icon yet, only the top three are currently used
Icon=
Type=Application
