Glibc overlay changelog:

2006-08-11
*fixed the build.

2006-08-09
*Added some hash-style fixes from glibc CVS (2.4-rX only)
*Removed old snapshot ebuilds.

2006-08-05
*New snapshot.

2006-08-02
*Moved the hashstyle patches to the patch tarball.

2006-07-22
*The glibc-hash-hack patch is now applied.
*The snapshot ebuild is now split into two, one using 2.6.11 headers and one using 2.6.16.

2006-07-21
*Synced with portage.
*New hashstyle patch, extracted from glibc CVS.

2006-07-16
*Synced with portage.
*New snapshot, hash-style patches merged.
*Added the hash-style patches to 2.4 with a hashstyle USE. Thanks to nesl247!

2006-07-01 (2)
*Reverted a commit that borked the build. (2.4.90

2006-07-01
*Removed gcc 4.0 stuff (fortify USE, santize omitfp)
*New snapshot.
*Synced with portage.

2006-05-16
*New snapshot.
*Reverted a patch to fix build.

2006-05-15
*Synced with portage, based on the -r3 ebuild.
*The ebuild with 2.6.16 headers is now -r4.
*New snapshot.

2006-05-11
*Synced with portage.
*New snapshot.

2006-05-04
*Removed the -r1 ebuild as -r2 is in ~arch.
*Synced the -r2 with portage, it now uses stable 2.6.11 headers.
*Added a -r3 ebuild that is the same as -r2 but uses the 2.6.16 headers.

2006-05-03
*Synced with portage.
*New snapshot.
*Fixed SRC_URI (I think)

2006-04-17
*Synced with portage.
*Added a new snapshot.

2006-04-12
*Synced the 2.4-r2 ebuild with portage.

2006-03-29
*Added a new 2.4-r2 ebuild that uses the 2.6.16 headers (hardmasked currently).
*Added a new snapshot ebuild for those on the bleeding edge. :)

2006-03-23
*Synced with portage.

2006-03-17
*Synced with portage, based on 2.4-r1.
*Removed some merged patches, including amd64 strings (though it's disabled by default in portage).

2006-03-16
*Added patch from bug #124682, hardened should work now on amd64.

2006-03-15
*Synced with portage.

2006-03-12 (2)
*Updated the libm patch from suse.

2006-03-12
*SSP compile fix.

2006-03-11
*Based on the ebuild from portage.
*Renamed gcc4ssp USE-flag to fortify.

2006-03-08
*Made the ebuild die on !nptlonly, linuxthreads doesn't work.
*Added primaryuri to restrict, the files isn't on the mirrors anyway.

2006-03-06
*Glibc 2.4 stable!

2006-03-03 (2)
*Compile fix.

2006-03-03
*Glibc 2.3.91!
*New snapshot.
*Removed unneeded patches from the tarball.
*New fedora tarball.
*Changed the ebuild to pull the branch-update and patches from my server since they're much smaller now.

2006-02-24
*I started over with the 2.3.6-r3 ebuild.
*New snapshot.
*New fedora tarball.
*Build with -DNDEBUG=1 if use !debug.
*Excluded a alpha patch that rejected, easy to fix but who uses this on alpha anyway? :)

2006-02-20 
*Removed all ebuilds but the latest snapshot. The patches for 2.3.6 are in portage now anyway. 

2006-02-07
*Added a new snapshot. (2.3.90.20060207)
*The -Bdirect and -hashvals flags are supported in this snapshot. (2.3.90.20060207)
*New fedora tarball. (2.3.90.20060207)
*Fixed linuxthreads support. (2.3.90.20060207)

2006-02-02 (3)
*Updated the -Bdirect and -hasvals patches from suse (again :)) (2.3.6-r2)

2006-02-02 (2)
*Updated the -Bdirect patch from suse (2.3.6-r2)
*Another new linker optimization from suse: -Wl,hashvals (requires binutils support, not yet in portage) (2.3.6-r2)

2006-02-02
*Synced with portage (2.3.6-r2)

2006-01-21 (2)
*Fixed the segaults problems by removing a broken file, as what's done in recent suse srpms. (2.3.6-r2 and 2.3.90.20060121)

2006-01-21
*New snapshot!
*Added back the -Bdirect patch to the 2.3.90 snapshot, apparently it got lost somwhere. (2.3.90.20060121)
*Removed a patch that clashes with -Bdirect. (2.3.90.20060121)
*Updated the ssp patch from portage. (2.3.6-r2)

2006-01-12
*New snapshot, hopefully it fixes the build problems with the last. (2.3.90.2060112)
*Removed a upstream applied patch. (2.3.90.2060112)

2006-01-08 (2) 
*Removed some left over digest files.

2006-01-08
*New snapshot, fixes a header problem (2.3.90.2060108)
 *Updated the patchset, one of the patches had been partly merged.
 *Fixed the ssp patch again.
*Removed the old snapshots.

2006-01-02
*New HEAD snapshot (2.3.90.2060102)
 *Updated fedora tarball (2.3.90.2060102)
 *The 20051211 is still included since it's known working.
*Synced with portage, now based on 2.3.6-r2 (2.3.6-r2)

2005-12-29 (2)
*Added back the 20051211 snapshot, the new one seems broken.

2005-12-29
*New HEAD snapshot. (2.3.90.20051229)
*Updated patches from suse. (2.3.90.20051229)
*Fixed the ssp patch to apply. (2.3.90.20051229)
*Synced with portage. (2.3.6-r1)

2005-12-13
*Fixed a problem with the ebuild accidently applying a patch that was supposed to be used with gcc4ssp only. (2.3.90.20051211)

2005-12-11 (2)
*Added a depend on dev-util/gperf, apparently it's needed for the build now. (2.3.90.20051211)

2005-12-11
*New HEAD snapshot (2.3.90.20051211)
*Added some linuxthreads updates so it should actually work now. (2.3.90.20051211)

2005-12-06
*Fixed the rejects on the -Bdirect patch and moved it to my patch-tarball (2.3.6-r1 and 2.3.90.20051201).

2005-12-05
*Synced with portage (2.3.6-r1 and 2.3.90.20051201).
*Added filter-flags for -Bdirect from LD- and CFLAGS.
*The -Bdirect patch is inlcuded but not applied since it rejects.

2005-12-01
*New snapshot. (2.3.90.20051201)
*Updated libidn from CVS. (2.3.90.20051201)
*Removed a upstream merged patch. (2.3.90.20051201)

2005-11-23 (2)
*Added a glibc header fix from Tiger683. (2.3.90.20051122)

2005-11-23
*Removed separate ssp patch for gcc4.
*New experimental ebuild: glibc-2.3.90.20051122!
 *Based on the glibc-2.3.5.20050722 ebuild.
 *Updated snapshot from HEAD.
 *Enable kernel bumped to 2.6.11.
 *Binutils --as-needed enabled for the build.
 *The same AMD64 patches as in 2.3.6.
 *Various patches to make this sucker build and work.
 *Updated fedora tarball.
 *Gcc 4 ssp support based on ctephan's work, controlled by a gcc4ssp USE-flag (Untested currently).

2005-11-22
*Synced with portage.

2005-11-15
*Synced with portage (gcc 4.1 + binutils 2.16.9* fixes).

2005-11-10
*Synced with portage. Now using the official 2.3.6 ebuild and patches.
*Removed a lot of patch exclude stuff no longer needed.

2005-11-05
*Synced with portage.
*It now builds the 2.3.6 relese so no branch update anymore.

2005-10-27
*Synced with portage, now based on the 2.3.5-r3 ebuild.
*My --as-needed change got included in portage for this revbump.

2005-10-25
*Fixed ssp problems for users migrating to gcc4 on a gcc 3 compiled system. The ssp patches are now applied again,
only that they no longer tries to use -fno-stack-protector on gcc 4 systems.

2005-10-21
*New snapshot from the stable branch, fixes bugs #1125, #1384, #721, #1252, #1350,
#1251, #1250, #1394. Most gcc4 fixes are now applied upstream.
*Synced ebuild with portage.
*Excluded 5040_all_2.3.4-gcc4.patch and moved a resynced version to my extra patches
tarball along wth the other gcc4 fixes.
*Excluded 1520_all_glibc235-execvp-fix.patch 6900_all_ia64-initfini.patch as they are now applied upstream.
*Removed 2011_all_glibc-2.3.5-gcc4_fix_symbols-1.patch, 2012_all_glibc-2.3.5-gcc4_fix_string-1.patch
2013_all_glibc-2.3.5-gcc4_fix_elf-1.patch, 2014_all_glibc-2.3.5-gcc4_fix_iconvdata-1.patch as they
are now fixed upstream.
*Changed ebuild to only apply the ssp patches if gcc3 is being used to fix build problems until
gcc4 has ssp support.
*extra_patches 0.6

2005-10-12
*Added 2020_all_glibc-2.3.5-gcc4-sanitize-omitfp-optimizations.patch, used
when compiling with gcc4 and omitfp (extra_patches 0.5).
*Synced with portage.

2005-10-10
*Fixed various bugs I introduced with my 2005-10-08 changes.
*Added the nomalloccheck patch to my tarball since it's no longer included in
the gentoo patches.
*It now depends on gcc 3.4 since build fails with 3.3.

2005-10-09
*Ebuild synced with portage.

2005-10-08
*Ebuild synced with portage, a lot of multilib fixes and stuff.
*Moved the patches to a separate tarball (extra_patches)
*Added fixes to compile with gcc 4.
*Added the PAX patch from the gentoo patch tarball to exclude and added the
updated version to my tarball instead. Now I don't have to repack the gentoo
patch tarball everytime it's updated.
*I've removed the overlay2 tarball. If you don't want the strings patch
uncomment the line that says:
#EXTRA_PATCH_EXCLUDE="${EXTRA_PATCH_EXCLUDE} 1020_all_glibc-2.3.3-amd64-string-20050813.patch"
and recreate the md5sums with # ebuild glibc-2.3.5-r2.ebuild digest.
*Enabled building with binutils --as-needed

2005-10-06
*Patch-tarball, ebuild and everything synced with portage.
*Now using the glibc 2.3.5-r2 ebuild.

2005-09-28
*Updated to the latest glibc-2.3.5-r1 ebuild.
*Synced the patch tarball with the latest official.

2005-09-24
*Updated to the latest glibc-2.3.5-r1 ebuild.
*Added a 2005-04-24 branch update from the stable 2.3 branch.
*Changed NPTL_KERNEL_VERSION to 2.6.9.
*Updated the patch tarball with a new version of patch 3000 from one of the
2.3.90 snapshots to apply without rejecting after the branch update, also
changed it's version to 1.11.
*Changed GENTOO_TOOLCHAIN_BASE_URI to pull the patches and branch update from
my webserver.

2005-09-22
*Updated to the latest glibc-2.3.5-r1 ebuild.

2005-09-02
*Updated to the latest glibc-2.3.5-r1 ebuild, no amd64 changes but why not.

2005-08-26
*Moved the changelog to files/changelog.overlay.
*Removed some files not used by the ebuild.
*Added dates to the patch filenames. (I just used the dates when I added them
to the bugzilla instead of trying to figure out when they where created.)
*Updated nscd from portage.

2005-08-24
*Updated to the latest glibc-2.3.5-r1 ebuild.
*Fixed a comment.

2005-08-17
*Updated to the latest glibc-2.3.5-r1 ebuild.
*The fix for #77264 is now in the official ebuild.

2005-08-16
*Updated to the latest glibc-2.3.5-r1 ebuild, now amd64 stable.
*Added fix for bug #77264 to prevent build failures for ~amd64 users with -Os
in their CFLAGS.
*Added this changelog.

2005-08-13
*Updated to the latest glibc-2.3.5-r1 ebuild.
*Updated the amd64 strings patch from mandrake 2006.0 beta2. (Should contain
some fixes according to the mdk changelog.)
*The x86_64 libm patches are now applied and builds.
